.book-section {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	width: 100%;
}

.book-section-left,
.book-section-right {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45%;
}

.book-section-left {
	width: 35%;
}

.book-section-right {
	width: 50%;
}

.book-section-text-head h2 {
	font-size: 71px;
}

.book-section-text-head h2.first-line {
	letter-spacing: 2px;
}

.book-section-text-head h2.second-line {
	letter-spacing: 1px;
}

.book-section-text-head h2.third-line {
	letter-spacing: 24px;
}

.book-section-text-desc {
	line-height: 26px;
	font-weight: 300;
}

.book-now {
	width: 120px;
	height: 40px;
}

.book-section-button-container {
	margin-top: 10px;
}

.book-section-images-grid {
	width: 520px;
	height: 620px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
}

.left-images,
.right-images {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.left-images > div,
.right-images > div {
	/* margin: 5px; */
	width: 250px;
}

.long-image {
	height: 400px;
}

.short-image {
	height: 200px;
}

.long-image img.book-image {
	width: 250px;
	height: 400px;
	object-fit: cover;
	object-position: center;
}

.short-image img.book-image {
	height: 200px;
	width: 250px;
	object-fit: cover;
	object-position: center;
}
