section.hero-section {
	position: relative;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	/* background-image: url("/assets/images/hero/hero-section-image.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat; */
	height: 100vh;
	width: 100%;
	filter: brightness(60%);
}

.overlay img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	opacity: 0;
}

.overlay img.show {
	opacity: 1;
}

.hero-section {
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero-text-container {
	color: #ffffff;
	text-align: center;
}

.explore-now {
	width: 120px;
	height: 40px;
}

.hero-subtitle {
	letter-spacing: var(--half-small-size);
	font-size: var(--subtitle-size);
}

.hero-title {
	letter-spacing: var(--medium-size);
	font-size: var(--title-size);
}

.hero-button-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
